/*Variables*/
@import "colores";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*Estilos de navegacion*/

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100%;
    height: 6.25em;
    background-color: map-get($mapa-colores, fondo);
    /* mapa de colores*/

    .contenedor {
        width: $width;
        margin: auto;
        display: flex;
        justify-content: $jc-end;
        align-items: $centrado;
        margin-top: 35px;
        margin-right: 10px;


        .logonav {
            display: block;

            .Logo {
                position: fixed;
                width: 100px;
                top: 10px;
                left: 50px;
                width: 100px;
                margin: 0;
            }
        }

        #btn_menu {
            display: none;
        }

        label {
            display: none;
            width: 1.87em;
            padding: 0.937em;
            height: 1.87em;

            &:hover {
                cursor: pointer;
            }
        }

        .menu ul {
            margin: 0;
            list-style-type: none;
            padding: 0;

            li {
                display: inline-block;

                a {
                    padding: 0.625em 1.25em;
                    text-decoration: none;
                    color: map-get($mapa-colores, marron-oscuro);
                    /* mapa de colores*/

                    &:hover {
                        color: map-get($mapa-colores, blanco);
                        background-color: map-get($mapa-colores, marron-oscuro);
                        /* mapa de colores*/
                    }
                }
            }
        }
    }
}

hr {
    margin: 100px 0 10px;
    color: rgb(0, 0, 0);


}

/* imagen de muestra*/

.main_index {
    width: $width;

    .imagen_fondo {
        width: 100%;
        height: 500px;
        background-image: url('../imagenes/mueble_fondo.jpg');
        @include imagenesfondo (no-repeat, cover, column);
        /* mixin de imagen de fondo*/
        background-position: center top;
        padding-bottom: 50px;
        text-align: $centrado;
        align-items: $centrado;
        justify-content: $jc-end;
        color: map-get($mapa-colores, blanco);
        /* mapa de colores*/
        margin-bottom: 25px;
    }

    .primer_imagen {
        background: map-get($mapa-colores, transparente);
        /* mapa de colores*/

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            font-size: 40px;
            font-weight: bolder;
            margin-bottom: 200px;
        }

        h2 {
            margin: 10px;
            background: map-get($mapa-colores, transparente);
            /* mapa de colores*/
        }

        p {
            font-size: 15px;
            background: map-get($mapa-colores, transparente);
            /* mapa de colores*/
        }

        .btn {
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            border: 0;
            font-weight: bold;
            padding: 10px 20px;
            background: #262626;
            color: map-get($mapa-colores, blanco);
            /* mapa de colores*/
            border: 1px solid map-get($mapa-colores, blanco);
            /* mapa de colores*/
            font-size: 15px;
            margin: 10px;

            &:hover {
                opacity: 0.5;
                transition: 0.5s;
            }

            a i {
                background: map-get($mapa-colores, transparente);
                /* mapa de colores*/
            }
        }

    }
}


/*seccion de noticias*/

.inicio {
    .card {
        margin: 10px;

        &:hover {
            transform: scale(1.1);
            transition: 1s;
            border: 1px solid map-get($mapa-colores, marron-claro);
            /* mapa de colores*/
        }
    }
}

/* seccion reflexiones */
.titulo_reflexiones {
    display: flex;
    justify-content: $centrado;
    align-items: $centrado;
    margin-bottom: 10px;

    h2 {
        font-size: 25px;
        font-weight: bolder;
        margin: 10px;
    }

    margin-bottom: 10px;

}



.carrousel {
    padding-bottom: 20px;

    .carousel-inner {
        margin: auto;
 
        img {
            margin: auto;
        }

        h5 {
            position: relative;
            top: 20px;
            font-weight: bolder;
            color: map-get($mapa-colores, negro);
            /* mapa de colores*/
        }

        p {
            position: relative;
            top: 20px;
            color: map-get($mapa-colores, negro);
            /* mapa de colores*/
            font-weight: bolder;
        }

        .carousel-item {
            height: 350px;
        }

    }

}


/* FOOTER*/
.hr2 {
    margin-top: 10px;
}

.footer {
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: $width;
    background-color: map-get($mapa-colores, fondo);
    /* mapa de colores*/

    h2 {
        color: map-get($mapa-colores, marron-oscuro);
        /* mapa de colores*/
        padding-top: 10px;
        padding-bottom: 25px;
        font-size: 17px;
        font-weight: bolder;
        text-align: $centrado;
        background-color: map-get($mapa-colores, fondo);
        /* mapa de colores*/
    }

    .links {
        display: flex;
        align-items: $centrado;
        justify-content: $centrado;
        background-color: map-get($mapa-colores, fondo);
        /* mapa de colores*/

        a {
            margin: 0px 30px;
            background-color: map-get($mapa-colores, fondo);
            /* mapa de colores*/

            i {
                color: map-get($mapa-colores, marron-oscuro);
                /* mapa de colores*/
                font-size: 2rem;
                background-color: map-get($mapa-colores, fondo);
                /* mapa de colores*/

                &:hover {
                    color: #000;
                    transition: 0.7s;
                }
            }
        }
    }

    p {
        color: map-get($mapa-colores, marron-oscuro);
        /* mapa de colores*/
        display: inline;
        font-weight: bold;
        padding: 20px;
        background-color: $map-get($mapa-colores, fondo);
        /* mapa de colores*/
        text-align: $centrado;
    }
}

/* Whatsapp*/
.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    background-color: map-get($mapa-colores, verde);
    /* mapa de colores*/
    color: map-get($mapa-colores, blanco);
    /* mapa de colores*/
    border-radius: 50px;
    text-align: $centrado;
    font-size: 30px;
    z-index: 100;

    a {
        background: map-get($mapa-colores, verde);
        /* mapa de colores*/

        i {
            margin-top: 10px;
            background-color: map-get($mapa-colores, verde);
            /* mapa de colores*/
            color: map-get($mapa-colores, blanco);
            /* mapa de colores*/

        }
    }
}



/*CSS Catalogo*/

/*seccion premium*/
.titulo_premium h1 {
    font-weight: bolder;
    padding: 25px;
    font-size: 30px;
    text-align: $centrado;
}

.premium .card {
    margin: 10px;

    &:hover {
        transform: scale(1.1);
        transition: 1s;
        border: 1px solid map-get($mapa-colores, marron-claro);
        /* mapa de colores*/
    }
}


/* seccion normal */
.titulo_normal h2 {
    font-weight: bolder;
    padding: 25px;
    font-size: 22px;
    text-align: $centrado;
}

.normal {
    display: flex;
    justify-content: space-around;

    .card {
        margin: 10px;
        z-index: 100;

        &:hover {
            transform: scale(1.1);
            transition: 1s;
            border: 1px solid map-get($mapa-colores, marron-claro);
            /* mapa de colores*/
        }
    }
}

/* CSS Sobre Nosotros*/


.sobre_nosotros {
    .nosotros {
        .laempresa {
            width: $width;
            height: 500px;
            background-image: url('../imagenes/fabrica.jpg');
            @include imagenesfondo (no-repeat, cover, column);
            /* mixin de imagen de fondo*/
            background-position: $centrado;
            justify-content: start;
            align-items: $centrado;
            text-align: $centrado;
            position: relative;
            bottom: 10px;
            margin-top: 40px;
        }

        .h21 {
            font-size: 38px;
            color: map-get($mapa-colores, blanco);
            /* mapa de colores*/
            font-family: 'Open Sans', sans-serif;
            background-color: map-get($mapa-colores, transparente);
            /* mapa de colores*/
            border-bottom: 5px solid map-get($mapa-colores, blanco);
            /* mapa de colores*/
        }
    }
}

.b-nosotros {
    .cuadro {
        margin: auto;
    }

    .imagenes {
        width: $width;
        display: flex;
        flex-direction: column;
        justify-content: $centrado;
        margin-bottom: 20px;
        margin-top: 1.25em;

    }
}

/*Sucursales*/
.h1_Sucursal {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-weight: bolder;
    }
}

.b-sucursales {
    a {
        background-color: map-get($mapa-colores, negro);
        /* mapa de colores*/
        color: map-get($mapa-colores, blanco);
        /* mapa de colores*/
    }

    .primer {
        padding-right: 3%;
        padding-bottom: 10px;


    }

    .segundo {
        @extend .primer;
        /*extend de la clase primer*/
        padding-left: 3%;

    }
}

/*Contacto*/

.contactanos {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-weight: bolder;
    }
}


.section1 {
    width: 85%;
    margin: auto;
    border-radius: 3px;
    border: 3px solid #12508f;
    padding: 5px;

    .card {
        margin: 10px;

        .card-body {
            border-radius: 4px;
            border: 2px dashed map-get($mapa-colores, negro);
            /* mapa de colores*/

            h5 {
                font-size: 25px;
                font-weight: bolder;
            }

            p {
                font-size: 20px;
            }

            a {
                font-size: 22px;
                font-weight: bold;
                text-decoration: none;
                color: #12508f;

                &:hover {
                    color: map-get($mapa-colores, negro);
                    /* mapa de colores*/
                    border-bottom: 1px solid map-get($mapa-colores, negro);
                    /* mapa de colores*/
                    opacity: 0.9;
                    transition: 1s;
                }
            }
        }
    }
}



.section2 {
    h2 {
        font-weight: bolder;
        padding: 25px;
        font-size: 30px;
        text-align: $centrado;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: $centrado;
        align-items: $centrado;
        width: 65%;
        background: #24303c;
        padding: 1.875em;
        margin: auto;
        border-radius: 0.25em;
        font-family: 'calibri';
        color: map-get($mapa-colores, blanco);
        /* mapa de colores*/
        margin-bottom: 0.625em;

        .controls {
            width: 100%;
            background: #24303c;
            padding: 0.625em;
            border-radius: 0.25em;
            margin-bottom: 1em;
            border: 0.0625em solid map-get($mapa-colores, fondo);
            /* mapa de colores*/
            font-family: 'calibri';
            font-size: 1.125em;
            color: map-get($mapa-colores, blanco);
            /* mapa de colores*/
            justify-content: $centrado;
        }

        .controls1 {
            @extend .controls;
            /* extend del input controls*/
            height: 9.375em;
        }

        p {
            height: 2.5em;
            text-align: $centrado;
            font-size: 1.125em;
            line-height: 2.5em;
        }

        .botons {
            width: $width;
            background: #f4cda5;
            border: none;
            padding: 0.75em;
            color: map-get($mapa-colores, negro);
            /* mapa de colores*/
            margin: 1em 0;
            font-size: 1em;

            &:hover {
                opacity: 0.7;
                transition: 1s;
            }
        }

    }
}

/*media para tablet*/
@media (max-width: 768px) {

    header {
        .contenedor {
            width: $width;
            margin: auto;
            display: flex;
            justify-content: $jc-end;
            align-items: $centrado;
            margin-top: 35px;
            margin-right: 10px;

            label {
                display: block;
                position: relative;
                right: 30px;

            }

            .menu {
                position: absolute;
                top: 100px;
                background: map-get($mapa-colores, fondo);
                /* mapa de colores*/
                width: 11.25em;
                margin-right: -11.25em;

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 10px;
                        display: block;
                        border-top: 1px solid map-get($mapa-colores, negro);
                        /* mapa de colores*/

                        a {
                            font-size: 16px;
                        }
                    }
                }
            }

            #btn_menu:checked~.menu {
                transition: all 1.5s;
                margin: 0;
            }
        }
    }

    .main_index {

        .primer_imagen {
            h1 {
                font-size: 30px;
            }
            h2{
                font-size: 25px;
            }
        }
    }


    .section1 {
        .card {
            flex-wrap: wrap;

            .card-body {
                border-radius: 4px;
                border: 2px dashed map-get($mapa-colores, negro);
                /* mapa de colores*/

                a {
                    font-size: 15px;

                }

                p {
                    font-size: 17px;
                }

                h5 {
                    font-size: 22px;
                    font-weight: bolder;
                }

            }
        }
    }

    .whatsapp {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
        background-color: map-get($mapa-colores, verde);
        /* mapa de colores*/
        color: map-get($mapa-colores, blanco);
        /* mapa de colores*/
        border-radius: 50px;
        text-align: $centrado;
        font-size: 23px;
        z-index: 100;

        a {
            background: map-get($mapa-colores, verde);
            /* mapa de colores*/

            i {
                margin-top: 8px;
                background-color: map-get($mapa-colores, verde);
                /* mapa de colores*/
                color: map-get($mapa-colores, blanco);
                /* mapa de colores*/

            }
        }
    }

}


/*media para celulares*/
@media (max-width: 576px) {

    header {
        .contenedor {
            width: $width;
            margin: auto;
            display: flex;
            justify-content: $jc-end;
            align-items: $centrado;
            margin-top: 35px;
            margin-right: 10px;

            label {
                display: block;
                position: relative;
                right: 30px;

            }

            .menu {
                position: absolute;
                top: 100px;
                background: map-get($mapa-colores, fondo);
                /* mapa de colores*/
                width: 11.25em;
                margin-right: -11.25em;

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 10px;
                        display: block;
                        border-top: 1px solid map-get($mapa-colores, negro);
                        /* mapa de colores*/

                        a {
                            font-size: 16px;
                        }
                    }
                }
            }

            #btn_menu:checked~.menu {
                transition: all 1.5s;
                margin: 0;
            }
        }
    }

    .main_index {

        .primer_imagen {
            h1 {
                font-size: 22px;
            }
            h2{
                font-size: 18px;
            }
        }
    }

    .contactanos {
        h1 {
            font-size: 25px;
        }
    }


    .section1 {
        .card {
            flex-wrap: wrap;

            .card-body {
                border-radius: 4px;
                border: 2px dashed map-get($mapa-colores, negro);
                /* mapa de colores*/

                a {
                    font-size: 0.625em;

                }

                p {
                    font-size: 15px;
                }

                h5 {
                    font-size: 20px;
                    font-weight: bolder;
                }

            }
        }
    }

    .whatsapp {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
        background-color: map-get($mapa-colores, verde);
        /* mapa de colores*/
        color: map-get($mapa-colores, blanco);
        /* mapa de colores*/
        border-radius: 50px;
        text-align: $centrado;
        font-size: 23px;
        z-index: 100;

        a {
            background: map-get($mapa-colores, verde);
            /* mapa de colores*/

            i {
                margin-top: 8px;
                background-color: map-get($mapa-colores, verde);
                /* mapa de colores*/
                color: map-get($mapa-colores, blanco);
                /* mapa de colores*/

            }
        }
    }

    .h1_Sucursal {
        h1 {
            font-size: 25px;
        }
    }
}

.form {
    .controls {
        font-size: 12px;
    }

    .controls1 {
        font-size: 12px;
    }
}


@media (max-width: 421px) {

    .main_index {

        .primer_imagen {
            h1 {
                font-size: 17px;
                margin-bottom: 150px;
            }
            h2{
                font-size: 15px;
            }
            p{
                font-size: 11px;
            }
        }
    }

    .contactanos {
        h1 {
            font-size: 17px;
        }
    }

    .section1 {
        .card {
            flex-wrap: wrap;

            .card-body {
                border-radius: 4px;
                border: 2px dashed map-get($mapa-colores, negro);
                /* mapa de colores*/

                a {
                    font-size: 7px;

                }

                p {
                    font-size: 12px;
                }

                h5 {
                    font-size: 17px;
                    font-weight: bolder;
                }

            }
        }
    }

    .h1_Sucursal {
        h1 {
            font-size: 18px;
        }
    }
}